.ad-category{
    max-width: 80%;
    text-align: center;
    background-color: white;
    color: #222;
    margin: 0 auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.ad-card{
    width: 8.25%;
    height: auto;
    padding: 18px 28px 15px;
    border-radius: 6.2px;
    border: solid 1px #e5e5e5;
    background-color: #fff;
    margin: 5px 0;
    text-align: center;
    
}

.ad-card:hover {
    background: #00c0f5;
    color: white;
  }

.category-name{
    
    margin-left: -18px;
    
    width: 100px;
    font-size: 0.875rem;
}

.category-icon{
    width: 100%;
    height: 68%;
   
}